<%= form_for(@my_js_tree) do |f| %>
  <% if @my_js_tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_js_tree.errors.count, "error") %> prohibited this my_js_tree from being saved:</h2>

      <ul>
      <% @my_js_tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :OUName %><br>
    <%= f.text_field :OUName %>
  </div>
  <div class="field">
    <%= f.label :Parent_ID %><br>
    <%= f.number_field :Parent_ID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
