<h1>Passport Parking - Programming Challenge</h1>

<table>
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Parent Id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @my_js_trees.each do |my_js_tree| %>
      <tr>
        <td><%= my_js_tree.OUName %></td>
        <td><%= my_js_tree.Parent_ID %></td>
        <td><%= link_to 'Show', my_js_tree %></td>
        <td><%= link_to 'Edit', edit_my_js_tree_path(my_js_tree) %></td>
        <td><%= link_to 'Destroy', my_js_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My js tree', new_my_js_tree_path %>
