<script>
$(document).ready(function(){
  $("#treeViewDiv").jstree({
    core : { "animation" : 100},
    themes : { "theme" : "classic", "icons" : true, "dots": false },
    "json_data" : {
        "ajax" : {
                  "url" : "/treedata.json",
                    "data" : function (m) {
                            return { id : m.attr ? m.attr("id") : 0 };
                    }
        }
    },
    plugins : ["themes", "json_data", "ui", "crrm" ]
      
  }).bind("select_node.jstree", function(e, data)
  {
    if(jQuery.data(data.rslt.obj[0], "href"))
    {
        window.location=jQuery.data(data.rslt.obj[0], "href");
    }
    else
    {
        alert("No href defined for this element");
    }
  })
});
</script>

<p><b>Tree View</b></p>

<div id="treeViewDiv"></div>