<p id="notice"><%= notice %></p>

<p>
  <strong>Category Name:</strong>
  <%= @my_js_tree.OUName %>
</p>

<p>
  <strong>Parent Id:</strong>
  <%= @my_js_tree.Parent_ID %>
</p>

<%= link_to 'Edit', edit_my_js_tree_path(@my_js_tree) %> |
<%= link_to 'Back', my_js_trees_path %>
